.todo-continer{
   width:25vh;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-item{
    display:flex;
    justify-content: space-between;
   
}
button{
    width:100%;
}
span{
    display: flex;
}
